@import "theme-editor.css";
@media all and (max-width: 1100px) {
    .operateur-view.editing .toolbar,
    .operateur-view.editing .operateur-grid {
        display: none;
    }
}
[theme~="dark"] {
    --lumo-primary-color: rgba(187, 134, 252);
    --lumo-secondary-text-color: #03DAC5;
    --lumo-base-color: #121212;
    --lumo-primary-color-10pct: #1F1A24;
    --lumo-primary-color-50pct: #332940;
    --lumo-primary-text-color: #FFFFFF;
    --lumo-contrast-10pct: rgba(3, 218, 197, 0.04);
    --lumo-contrast-20pct: #1F1A24;
    --lumo-contrast-30pct: #1F1A24;
    --lumo-contrast-40pct: #1F1A24;
    --lumo-contrast-50pct: rgba(187, 134, 252, 0.5);
}
.my-grid [part~="vaadin-grid-cell-header"] {
    display: none;
}

